body, html, table, img, tr, td {
	font-family: 'Heebo', sans-serif;
	padding:0%;
	margin:0%;
	background:white;
}
#move {
	margin-right:6%;
}
#computerimg {
	width: 80%;
	height: auto;
	padding:2%;
}
.wecan {
	color:#333;
	padding:0;
	margin:0;
	text-decoration-color:#e3effb;
}
.camtrav {
	color:#333;
	padding:0;
	margin:0;
	text-decoration-color:#f5f0ed;
}
.sust {
	color:#333;
	padding:0;
	margin:0;
	text-decoration-color:#e9fbe3;
}
.adx {
	color:#333;
	padding:0;
	margin:0;
	text-decoration-color:#dbecff;
}
#headh1 {
	margin-top:10%;
	margin-left:5%;
	font-size:3rem;
	color: #333;
	margin-bottom:0%;
	padding-bottom:0%;

}
#headp {
	padding-top:0%;
	margin-top:0%;
	margin-left:5%;
	font-size:1.5rem;
	color:#6a6a6a;
}
#readmore {
	font-size:1.5rem;
	padding-top:0%;
	margin-top:0%;
	margin-left:5%;
}
#readmore2 {
	float:right;
	font-size:1.5rem;
	padding-top:0%;
	margin-top:0%;
	margin-right:10%;
}
#h1right{
	margin-top:10%;
	margin-left:5%;
	font-size:3rem;
	color: #333;
	margin-bottom:0%;
	padding-bottom:0%;
}
#pright {
	font-size:1.5rem;
	color:#6a6a6a;
	padding-top:0%;
	margin-top:0%;
	margin-left:5%;
	padding-bottom:0%;
	margin-bottom:0%;
}
#imageright {
	float:right;
	width:600px;
	height:540px;
}
#h1left {
	float:right;
	margin-top:10%;
	margin-right:10%;
	font-size:3rem;
	color: #333;
	margin-bottom:0%;
	padding-bottom:0%;
}
#pleft {
	font-size:1.5rem;
	color:#6a6a6a;
	float:right;
	padding-top:0%;
	margin-top:0%;
	margin-right:10%;
	margin-bottom:0%;
	padding-bottom:0%;
}
#imageleft {
	width:600px;
	height:540px;
	float:left;
}
nav ul {
	display: inline;
}
nav ul li {
	font-size:1.2rem;
	float:right;
	color: #333;
	list-style-type: none;
	padding-left:15px;
}
nav ul li a {
	color: #333;
	text-decoration:none;
}
ul li {
	color: #333;
	display: inline-block;
}
ul li a {
	color: #333;
}
.mono {
	text-decoration:none;
	margin-left:.5%;
	margin-bottom:5%;
	font-size:1.2rem;
	color:#6a6a6a;
}
.theemail {
	text-decoration:none;
	color:black;
}
#abouth1 {
		margin-top:10%;
	margin-left:8%;
	font-size:3rem;
	color: #333;
	margin-bottom:0%;
	padding-bottom:0%;
}
#aboutp {
	padding-top:0%;
	margin-top:0%;
	font-size:1.5rem;
	color:#6a6a6a;
}
#footer-links {
	font-size:1.5rem;
}
a {
	padding:0%;
	margin:0%;
}
#notp, #notbutton {
	padding:0%;
	margin:0%;
}
#noth1 {
	padding-top:10%;
	padding-bottom:0%;
	margin-bottom:0%;
}
#notbutton {
	font-size:1.5rem;
	padding-top:0%;
	margin-top:0%;
}
