body {
	background:white;
	font-family: 'Heebo', sans-serif;
}
h1 {
	color: #333;
	font-size: 50px;
	padding-top: 90px;
	padding-bottom: 30px;
	padding-left: 55px;
}
nav ul {
	margin: 1;
	display: inline;
	padding-right: 0px;
	padding-left: 1100px;
}
nav ul li {
	color: # 333;
	display: inline-block;
	list-style-type: none;
	padding: 1px;
}
nav ul li a {
	color: #333;
	text-decoration:none;
}
ul li {
	color: #333;
	display: inline-block;
}
ul li a {
	color: #333;
}
#my-img-one {
	width: 460px;
    height: 310px;
}
#my-img-one:hover {
    content: url('Help.Me.Banner.jpg');
    width: 480px;
    height: 330px;
}
#my-img-two {
	width: 460px;
    height: 310px;
}
#my-img-two:hover {
	content: url('WeCanCover4.jpg');
	width: 480px;
    height: 330px;
}
p {
	font-size: 15px;
}
.mono {
	text-decoration:none;
	color: #333;
}
.theemail {
	font-size: 15px;
	text-decoration:none;
	color:black;
}
tr {
	text-decoration:none;
	color: #333;
}
