body {
	background:white;
	font-family: 'Heebo', sans-serif;
}
h1 {
	color: #333;
	font-size: 45px;
	padding-top: 90px;
	padding-bottom: 30px;
	padding-left: 55px;
}
nav ul {
	margin: 1;
	display: inline;
	padding-right: 0px;
	padding-left: 1100px;
}
nav ul li {
	color: # 333;
	display: inline-block;
	list-style-type: none;
	padding: 1px;
}
nav ul li a {
	color: #333;
	text-decoration:none;
}
ul li {
	color: #333;
	display: inline-block;
}
ul li a {
	color: #333;
}
#my-img-one {
	width: 45%;
    height: 45%;
}
#my-img-one:hover {
    content: url('CameronTravelscover3.jpg');
    width: 50%;
    height: 50%;
}
#my-img-two {
	width: 45%;
    height: 45%;
}
#my-img-two:hover {
	content: url('WeCanCover6.jpg');
	width: 50%;
    height: 50%;
}
p {
	font-size: 15px;
}
.mono {
	text-decoration:none;
	color: #333;
}
.theemail {
	font-size: 15px;
	text-decoration:none;
	color:black;
}
tr {
	text-decoration:none;
	color: #333;
}
a {
	color:#333;
	text-decoration:none;
}
/*TABLE RESIZING*/
@media
only screen and (max-width: 1500px) {
  table, thead, tbody, th, td, tr {
