body, html, table, img, tr, td, a, button {
	font-family: 'Heebo', sans-serif;
	padding:0%;
	margin:0%;
	background:white;
}
/*
#headh1 {
  padding-top:3rem;
  padding-left:4%;
  padding-bottom:0%;
  margin-bottom:0%;
}
#headp {
  padding-top:0%;
  padding-left:4%;
  margin-top:0%;
  color:#6a6a6a;
}
*/
#movecenter {
	margin-bottom:0%;
	padding-bottom:0%;
	text-align: center;
	font-size: 45px;
}
#movecenterp {
	margin-top:0%;
	padding-top:0%;
	text-align: center;
	color:#6a6a6a;
	font-size: 30;
}
.wecan {
	text-align: center;
	font-size:1.2rem;
	color:#333;
	padding:0;
	margin:0;
	text-decoration-color:#e3effb;
}
.adx {
	text-align: center;
	font-size:1.2rem;
	color:#333;
	padding:0;
	margin:0;
	text-decoration-color:#dbecff;;
}
.sust {
	text-align: center;
	font-size:1.2rem;
	color:#333;
	padding:0;
	margin:0;
	text-decoration-color:#e9fbe3;
}
.iag {
	text-align: center;
	color: #333;
	padding:0;
	margin:0;
	text-decoration-color:#FFF1F9;
}
.plant {
	text-align: center;
  color: #333;
	padding:0;
	margin:0;
  text-decoration-color:#e8f0d5;
}
.tutor {
	text-align: center;
  font-size:25px;
  color: #333;
	padding:0;
	margin:0;
  text-decoration-color:#F3E7F6;
}
.wecanmag {
	text-align: center;
  font-size:25px;
  color: #333;
	padding:0;
	margin:0;
  text-decoration-color:#FBE3F6;
}
.soc {
	text-align: center;
  font-size:25px;
  color: #333;
	padding:0;
	margin:0;
  text-decoration-color:#EEFBE3;
}
img {
	float: center;
  width:90%;
  height:auto;
}
#h1port {
	text-align: center;
  padding:0%;
  margin:0%;
}
#pport {
	text-align: center;
	color:#6a6a6a;
  padding:0%;
  margin:0%;
}
#abouth1 {
	text-align: center;
  padding-left:4%;
  padding-bottom:0%;
  margin-bottom:0%;
}
#aboutp {
	text-align: center;
  color:#6a6a6a;
  padding-top:0%;
  margin-top:0%;
}
.mono {
	text-align: center;
  color:#333;
  text-decoration:none;
}
.theemail {
	text-align: center;
	text-decoration:none;
	color:black;
}
/* Add a black background color to the top navigation */
.topnav {
	text-align: center;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid #e3effb;
}

.topnav a.active {
  border-bottom: 3px solid #e3effb;
}
nav ul {
	display: inline;
}
nav ul li {
	font-size:1.5rem;
	float:left;
	color: #333;
	list-style-type: none;
	padding-left:5%;
  padding-top:15px;
  border-color: black;
}
nav ul li a {
	color: #333;
	text-decoration:none;
}
ul li {
	color: #333;
	display: inline-block;
}
ul li a {
	color: #333;
}
